.main_nav{
    width: 100%;
    height: 90px;
    margin-top: -16px;
    position: relative;
    z-index: 2;
}
.flipkart_logo{
    margin-top: 20px;
    margin-left: 15px;
    float: left;
}

.nav_home{
    height: 60px;
    width: max-content;
    float: right;
    padding: 20px;
    padding-top: 25px;
    text-decoration: none;
}
.nav_products{
    height: 60px;
    width: max-content;
    float: right;
    padding: 20px;
    padding-top: 25px;
}
.nav_login{
    height: 60px;
    width: max-content;
    float: right;
    padding: 20px;
    padding-top: 25px;
}
.nav_contact{
    height: 60px;
    width: max-content;
    float: right;
    padding: 20px;
    padding-top: 25px;
}
.nav_team{
    height: 60px;
    width: max-content;
    float: right;
    padding: 20px;
    padding-top: 25px;
}
/* ------------------------------- */




/* Shift */
nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  nav {
    width: 100%;
    
    box-shadow: 0px 5px 0px #dedede;
  }

  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 -10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }